body {
    background-color: #0E1D23;
    color: aliceblue;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 5%;
}
.gallery img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}